[submodule "scripts_for_LSF"]
	path = scripts_for_LSF
	url = git@github.com:celgene-research/HPC_metadata.git
[submodule "NGS-pipeline/HPC_metadata"]
	path = NGS-pipeline/HPC_metadata
	url = git@github.com:celgene-research/HPC_metadata.git
[submodule "NGS-pipeline/Metadata"]
	path = NGS-pipeline/Metadata
	url = git@github.com:celgene-research/HPC_metadata.git
[submodule "NGS-pipeline/QC"]
	path = NGS-pipeline/QC
	url = git@github.com:celgene-research/HPC_QC.git
