# local server IP
ngs_server_ip = 
ngs_server_port=
ngs_use_https=yes

# postgres server configuration
postgres_server_ip=10.24.0.30
postgres_server_port=5493
postgres_user=kostas
postgres_password=kostas
postgres_database=genomics

# SOLR server configuration
solr_server_ip
solr_server_port=8089


# general configuration
loglevel=INFO
logfile= ngs-server.log
