# local server IP
ngs_server_ip = 
ngs_server_port=
ngs_use_https=yes

# postgres server configuration
postgres_server_ip=XX.XX.XX.XX
postgres_server_port=YYYY
postgres_user=****
postgres_password=****
postgres_database=genomics

# SOLR server configuration
solr_server_ip=XX.XX.XX.XX
solr_server_port=YYYY


# general configuration
loglevel=INFO
logfile= ngs-server.log
