# configuration file for programs used to process metadata
# a local copy in $HOME/.metadata.config can be used to override this configuration

# copy_file_from_aws is the program that will be used to get files from aws
#copy_file_from_aws=s3cmd --force get
#copy_dir_from_aws=s3cmd sync 
#copy_file_to_aws=s3cmd put  
#copy_dir_to_aws=s3cmd sync 


copy_file_from_aws=aws s3 cp
copy_dir_from_aws=aws s3 cp  --recursive
copy_file_to_aws=aws s3 cp  
copy_dir_to_aws=aws s3 cp  --recursive


# contain regex that can be used to convert
# filenames, used to convert the filename from mounted s3 buckets
# to s3 objects. 
# for each file, all locations will be stored in the FilePath section
fileregex=/mnt/celgene-src-bucket,s3://celgene-src-bucket,/mnt/celgene-ngs-data,s3://celgene-ngs-data